@import "tailwindcss";
@import "./tokens/colors.css";
@import "./tokens/typography.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.clip-diagonal-reverse {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%) !important;
}

.skew-panel {
  transform: skewY(-2deg);
}

.skew-content {
  transform: skewY(2deg);
}

/* Mobile menu icon switching and menu expansion */
#mobile-menu-toggle ~ label .close-icon {
  display: none;
}

#mobile-menu-toggle:checked ~ label .menu-icon {
  display: none;
}

#mobile-menu-toggle:checked ~ label .close-icon {
  display: block;
}

/* Menu expansion */
#mobile-menu-toggle:checked ~ #mobile-menu {
  max-height: 24rem; /* 96 = 24rem */
}
